<!DOCTYPE html>
    <div class="container">
        <h1>Register</h1>

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

        <input for="username"
               type="text"
               class="form-control"
               ng-model="user.username"
               id="username"
               placeholder="username"/>

        <input for="password"
               type="password"
               class="form-control"
               ng-model="user.password"
               id="password"
               placeholder="password"/>

        <input for="password2"
               type="password"
               class="form-control"
               ng-model="password2"
               id="password2"
               placeholder="very password"/>

        <a class="btn btn-primary btn-block"
           data-ng-click="model.register(user.username, user.password, password2)">Register</a>

        <a class="btn btn-danger  btn-block"
           href="#/">Cancel</a>
    </div>