<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
        </div>
        <div class="navbar-brand pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}" class="no-underline-hover">
                Widget Editor
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid"
     ng-include="model.getEditorTemplateUrl(model.widget.widgetType)">
</div>

<form action="/public/upload" method="post" enctype="multipart/form-data">
    <input  name="myFile"    type="file" class="form-control"/>
    <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
    <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
    <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
    <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
    <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
    <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
</form>


<div class="container-fluid">
    <a ng-click="model.updateWidget(model.widgetId,model.widget)" class="btn btn-primary btn-block margin-top-label">
        <span class="glyphicon glyphicon-ok margin-right-10"></span>Update
    </a>
    <a ng-click="model.deleteWidget(model.widgetId)" class="btn btn-danger btn-block add-margin-bottom">
        <span class="glyphicon glyphicon-trash margin-right-10"></span>Delete
    </a>

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="no-underline-hover">
                <span class="glyphicon glyphicon-user margin-left-10"></span>
            </a>
        </div>
    </div>
</nav>