<!DOCTYPE html>
<html lang="en">
<head content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../../../css/style.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="widget-choose.view.client.html">
                <div class="glyphicon glyphicon-arrow-left">
                </div>
            </a>
            <a class="navbar-brand" href="#">
                New Youtube Link
            </a>
            <a class="navbar-brand" href="widget-choose.view.client.html">
                <div class="glyphicon glyphicon-check">
                </div>
            </a>
        </div>
    </div>
</nav>
<body>

<div class="container-fluid">

<label for="name">Name</label>
<input id="name"
       class="form-control"/>

<label for="text">Text</label>
<input id="text"
       class="form-control"/>

<label for="url">URL</label>
<input id="url"
       class="form-control"/>

<label for="url">Width</label>
<input id="url"
       class="form-control"/>


<a class="btn btn-primary btn-block" href="widget-list.view.client.html">Upload</a>
<a class="btn btn-danger btn-block" href="widget-list.view.client.html">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="../../user/templates/profile.html">
                    <span class="glyphicon glyphicon-user" style="color:white"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
</body>