<div ng-class="wd-widget-list">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                    <div class="glyphicon glyphicon-arrow-left">
                    </div>
                </a>
                <a class="navbar-brand"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" style="color: gray;">
                    Widget List
                </a>
            </div>
        </div>
    </nav>

    <div class="container-fluid" wbdv-sortable="">
        <div ng-repeat="widget in model.widgets" class="wd-widget">
            <div ng-switch="widget.widgetType">
                <div ng-switch-when="HEADING">
                    <div ng-include="'views/widget/templates/widget-heading.view.client.html'"></div>
                </div>
                <div ng-switch-when="IMAGE">
                    <div ng-include="'views/widget/templates/widget-flickr-search.view.client.html'">
                    </div>
                </div>
                <div ng-switch-when="HTML"
                    ng-bind-html="model.trustThisContent(widget.text)">
                </div>
                <div ng-switch-when="YOUTUBE">
                    <div ng-include="'views/widget/templates/widget-youtube.view.client.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-right">
                <a href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>