<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
        </div>
        <div class="navbar-brand pull-left">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}" class="no-underline-hover">
                Widget Editor
            </a>
        </div>
    </div>
</nav>

<div class="alert alert-danger" ng-show="model.error">
    {{model.error}}
</div>

<div class="alert alert-success" ng-show="model.message">
    {{model.message}}
</div>

<div ng-switch="model.widget.widgetType">
    <div ng-switch-when="HEADING">
        <div ng-include="'views/widget/editors/widget-heading-editor.view.client.html'"></div>
    </div>
    <div ng-switch-when="IMAGE">
        <div ng-include="'views/widget/editors/widget-image-editor.view.client.html'"></div>
    </div>
    <div ng-switch-when="HTML">
        <div ng-include="'views/widget/editors/widget-html-edit.html'"></div>
    </div>
    <div ng-switch-when="YOUTUBE">
        <div ng-include="'views/widget/editors/widget-youtube-editor.view.client.html'"></div>
    </div>
    <div ng-switch-when="TEXT">
        <div ng-include="'views/widget/editors/widget-text-editor.view.client.html'"></div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-right">
                <a href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>