<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <div class="glyphicon glyphicon-arrow-left">
                </div>
            </a>
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/html-new">
                HTML Editor
            </a>
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <div class="glyphicon glyphicon-check">
                </div>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-if="model.alert" class="alert alert-danger">
        {{model.alert}}
    </div>

    <div text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]"
         ng-model="model.widget.text">
    </div>
    <a   ng-click="model.addWidget(model.widget.text, '', '', 'HTML')"
         class="btn btn-block btn-primary">
        Submit
    </a>
    <a   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
        class="btn btn-block btn-danger">
        Delete
    </a>
    <!---ng-click="model.deleteWidget()"  --->
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-right">
                <a href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>