<!DOCTYPE html>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/user/:userId/website/:websiteId/page/:pageId/widget/new">
                <div class="glyphicon glyphicon-arrow-left">
                </div>
            </a>
            <a class="navbar-brand" href="#">
                New Youtube Link
            </a>
            <a class="navbar-brand" href="#!/user/:userId/website/:websiteId/page/:pageId/widget">
                <div class="glyphicon glyphicon-check">
                </div>
            </a>
        </div>
    </div>
</nav>
<body>

<div class="container-fluid">

<label for="name">Name</label>
<input id="name"
       class="form-control"/>

<label for="text">Text</label>
<input id="text"
       class="form-control"/>

<label for="url">URL</label>
<input id="url"
       class="form-control"/>

<label for="url">Width</label>
<input id="url"
       class="form-control"/>


<a class="btn btn-primary btn-block" href="#!/user/:userId/website/:websiteId/page/:pageId/widget">Upload</a>
<a class="btn btn-danger btn-block" href="#!/user/:userId/website/:websiteId/page/:pageId/widget">Delete</a>
</div>