<div class="container">
    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <div text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]"
         ng-model="model.widget.text">
    </div>
    <a   ng-click="model.updateWidget('', '', '',model.widget.text)"
         class="btn btn-block btn-primary">
        Submit
    </a>
    <a  class="btn btn-block btn-danger"
        ng-click="model.deleteWidget()">
        Delete
    </a>
    <!---ng-click="model.deleteWidget()"  --->
</div>
