<div class="container-fluid">
    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>
    <label for="text">Text</label>
    <input id="text"
           ng-model="model.widget.text"
           placeholder="{{model.widget.text}}"
           class="form-control"/>

    <label for="size">Rows</label>
    <input id="size"
           ng-model="model.widget.size"
           placeholder="{{model.widget.rows}}"
           class="form-control"/>

    <label for="url">Placeholder</label>
    <input id="url"
           ng-model="model.widget.url"
           placeholder="{{model.widget.placeholder}}"
           class="form-control"/>

    <a class="btn btn-primary btn-block"
       ng-click="model.updateWidget(model.widget.text, model.widget.size, model.widget.url)">Submit</a>
    <a class="btn btn-danger btn-block"
       href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
       ng-click="model.deleteWidget()">Delete</a>
</div>