<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <div class="glyphicon glyphicon-arrow-left">
                </div>
            </a>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                New Heading
            </a>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <div class="glyphicon glyphicon-check">
                </div>
            </a>
        </div>
    </div>
</nav>

<div class="alert alert-danger" ng-show="model.error">
    {{model.error}}
</div>

<div class="alert alert-success" ng-show="model.message">
    {{model.message}}
</div>

<div class="container-fluid">
    <label for="text">Text</label>
    <input id="text"
           ng-model="model.widget.text"
           placeholder="{{model.widget.text}}"
           class="form-control"/>

    <label for="size">Size</label>
    <input id="size"
           ng-model="model.widget.size"
           placeholder="{{model.widget.size}}"
           class="form-control"/>

    <label for="url">URL</label>
    <input id="url"
           ng-model="model.widget.url"
           placeholder="{{model.widget.url}}"
           class="form-control"/>

    <a class="btn btn-primary btn-block"
       ng-click="model.addWidget(model.widget.text, model.widget.size, model.widget.url, 'HEADING')">Submit</a>
    <a class="btn btn-danger btn-block"
       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
       ng-click="model.deleteWidget()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-right">
                <a href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>