<div class="container-fluid">
    <div ng-if="model.alert" class="alert alert-danger">
        {{model.alert}}
    </div>
    <label for="text">Text</label>
    <input id="text"
           ng-model="model.widget.text"
           placeholder="{{model.widget.text}}"
           class="form-control"/>

    <label for="size">Rows</label>
    <input id="size"
           ng-model="model.widget.size"
           placeholder="{{model.widget.rows}}"
           class="form-control"/>

    <label for="url">Placeholder</label>
    <input id="url"
           ng-model="model.widget.url"
           placeholder="{{model.widget.placeholder}}"
           class="form-control"/>

    <a class="btn btn-primary btn-block"
       ng-click="model.updateWidget(model.widget.text, model.widget.size, model.widget.url)">Submit</a>
    <a class="btn btn-danger btn-block"
       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
       ng-click="model.deleteWidget()">Delete</a>
</div>