<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">CS4450 News Aggregator</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/login">Login</a></li>
                <li><a href="#/register">Register</a></li>
                <li class="active"><a href="#/profile">Profile</a></li>
                <li><a href="#/user/{{model.userId}}/website">News Feed</a></li>
                <li><a href="#/">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


    <div class="container">

        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>

        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>


            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       ng-model="user.username"
                       class="form-control"
                       id="username"
                       placeholder="{{model.user.username}}">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text"
                       ng-model="user.password"
                       class="form-control"
                       id="password"
                       placeholder="********">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text"
                       ng-model="user.firstName"
                       class="form-control"
                       id="first-name"
                       placeholder="{{model.user.firstName}}">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text"
                       ng-model="user.lastName"
                       class="form-control"
                       id="last-name"
                       placeholder="{{model.user.lastName}}">
            </div>


        <a class="btn btn-info btn-block"
           data-ng-click="model.pastComments(model.userId, model.user.username)">Comment History</a>
        <a class="btn btn-primary btn-block"
           href="#/user/{{model.userId}}/preferences">News Preferences</a>
        <a class="btn btn-success btn-block"
           data-ng-click="model.update(user)">Update</a>
        <a class="btn btn-danger  btn-block"
           href="#/login">Logout</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>