<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/user/{{model.userId}}/" class="navbar-brand glyphicon glyphicon-chevron-left" ng-if="!model.isAnon()"></a>
            <a href="#/" class="navbar-brand glyphicon glyphicon-chevron-left" ng-if="model.isAnon()"></a>
            <a class="navbar-brand" href="#">CS4450 News Aggregator </a>
            <a class="navbar-brand" href="#/user/" ng-if="model.isAnon()"> Register</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" ng-if="!model.isAnon()">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#/login">Login</a></li>
                <li><a href="#/register">Register</a></li>
                <li><a href="#/profile">Profile</a></li>
                <li class="active"><a href="#/user/{{model.userId}}/website">News Feed</a></li>
                <li><a href="#/">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="page-header">
        <h1>Your News Feed:</h1>
        <h4></h4>
    </div>

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search News" ng-model="searchArticles">
            </div>
        </div>
    </form>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <td>
            <a href="#/user/{{model.userId}}/website" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                Title
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a href="#/user/{{model.userId}}/website" ng-click="sortType = 'author'; sortReverse = !sortReverse">
                Author
                <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td>
            <a href="#/user/{{model.userId}}/website" ng-click="sortType = 'source.name'; sortReverse = !sortReverse">
                Source
                <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td >
            <a href="#/user/{{model.userId}}/website" ng-click="sortType = 'publishedAt'; sortReverse = !sortReverse">
                Publish Date
                <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
            </a>
        </td>
        <td ng-if="!model.isAnon()">
            Comment
        </td>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="news in articles | orderBy:sortType:sortReverse | filter:searchArticles">
        <td>
            <a href={{news.url}}>
                {{ news.title }}
            </a>
        </td>
        <td>{{ news.author }}</td>
        <td>{{ news.source}}</td>
        <td>{{ news.publishedAt }}</td>
        <td ng-if="!model.isAnon()">
            <div class="col-md-4">
                <a data-ng-click="model.createCommentPage(news._id, news.title, news.url)" class="navbar-brand glyphicon glyphicon-comment">
                </a>
            </div>
        </td>
        <!--<td ng-switch=news.checked>-->
        <!--<div ng-switch-when="CHECKED">-->
        <!--<label class="active">-->
        <!--<input class="checkbox" type="checkbox" checked="checked" name="selectedNews">-->
        <!--</label>-->
        <!--</div>-->
        <!--<div ng-switch-when="UNCHECKED">-->
        <!--<label>-->
        <!--<input class="checkbox" type="checkbox" name="selectedNews" >-->
        <!--</label>-->
        <!--</div>-->
        <!--</td>-->
    </tr>
    </tbody>
</table>

    <a class="btn btn-primary  btn-block"
       data-ng-click="model.collectArticles()">Get Articles</a>
    <br>
    <h1></h1>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-right">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
